.listItem {
  margin: 0px;
  padding: 0px;
}
.listPara {
  display: flex;
  flex-direction: row;
  color: rgb(100, 100, 100);
  margin: 1px;
  align-items: center;
  justify-content: center;
}

.hNews {
  margin: 0px;
  font-size: larger;
  display: inline-block;
  cursor: pointer;
}

.listDiv {
  padding-top: 15px;
  border: 1px solid black;
  margin: 10px;
  background: #eadede9e;
  border-radius: 5px;
  text-align: center;
}

.News-ol {
  color: rgb(31, 31, 31);
}

.sub-ul {
  font-size: 10px;
}
a:link {
  text-decoration: none;
  color: rgb(31, 31, 31);
}

.clickComment {
  cursor: pointer;
}
/* .clickComment:hover {
  text-decoration: underline;
  font-weight: bold;
} */
/* hover text */
.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
@media (prefers-color-scheme: dark) {
  .listPara {
    color: rgb(130, 129, 129);
    margin: 1px;
  }

  .News-ol {
    padding-top: 1px;
    color: rgb(181, 181, 181);
  }
  a:link {
    text-decoration: none;
    color: rgb(181, 181, 181);
  }

  a:visited {
    color: teal;
  }
}
a {
  color: black;
}
